{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "comma-dangle": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/require-default-props": "off",
    "jsx-a11y/accessible-emoji": "off",
    "no-case-declarations": "off"
  }
}